

body {
    background-color: #121212;
    color:azure;
    display: grid;
    position: relative;
    margin: 0px;
    height: 30vh;
    box-sizing: border-box;
}
    
#link {
    color: #3ea6ff;
}
#title {
    font-family: "Norse";
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
    border-style: hidden ;
    background: #343434;
    border-radius: 10px;
    text-align: center;
}

  .recipe.container ul {
  display: flex;
  justify-content:space-evenly; 
}
.search {
    margin: 0.5em auto;
    font-size: 50px;
    font-weight: bold;
    font-family: cursive;
    
}